$root-class: "section-heading";

.#{$root-class} {
  &\:color-dark {
    .#{$root-class}__heading {
      color: $black-500;
    }

    .#{$root-class}__description {
      color: $black-300;
    }
  }

  &\:color-light {
    .#{$root-class}__heading,
    .#{$root-class}__description {
      color: $neutral-white;
    }
  }
}