include nav/nav.pug

mixin navbar(props = {})
  - const rootClassName = "navbar";
  - const className = props.class || null;
  - const style = props.style || null;
  - const menuItems = props.menuItems || [];
  - const extraItems = props.extraItems || [];
  -
    const classes = [
      rootClassName,
      className
    ];

  nav(
    class = classes 
    style = style
  )
      
    // Start: [stack]
    +stack({
      class: [
        "justify-content-space-between",
        "align-items-center",
        "px-20"
      ]
    })
      +logo()

      // Start: [menu] 
      div(class = [
        "menu", 
        "display-flex", 
        "align-items-center",
        "md:align-items-flex-start",
        "md:px-20"
      ])
        // Start: [nav] 
        +nav({
          class: [
            "ml-auto", 
            "md:ml-0", 
            "md:flex-direction-column",
            "md:mb-24"
          ], 
          items: menuItems
        })
        // End: [nav]

        // Start: [stack/extra] 
        +stack({
          class: [
            "extra",
            "ml-auto",
            "md:ml-0"
          ]
        })
          each item in extraItems
            // Start: [button] 
            +button({
              label: item.label, 
              variant: item.variant
            })
            // End: [button] 
        // End: [stack/extra] 
      // End: [menu]

      // Start: [button] 
      button(class = "menu-control")
        span
        span
        span
      // End: [button] 
    // End: [stack] 