$root-class: "slider";

@import "~swiper/css";
@import "~swiper/css/navigation";
@import "~swiper/css/pagination";

.#{$root-class} {
  &__main {
    gap: 30px;
  }

  &__nav-button {
    border: 1px solid $black-050;
    border-radius: 50%;
  }

  &__pagination {
    .swiper-pagination-bullet {
      width: 60px;
      height: 4px;
      border-radius: 4px;
      background: $black-200;
    }

    .swiper-pagination-bullet-active {
      background: $blue-500;
    }
  }
}