@import "~swiper/css";
@import "~swiper/css/navigation";
@import "~swiper/css/pagination";

.slider {
  .nav-button {
    position: absolute;
    top: 50%;
    border: 1px solid $black-050;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  .button-prev {
    left: -60px;
  }

  .button-next {
    right: -60px;
  }

  .swiper-pagination {
    position: absolute;
    bottom: -30px;
    left: 0;
    z-index: 9999;

    &-bullet {
      width: 60px;
      height: 4px;
      border-radius: 4px;
      background: $black-200;
    }

    &-bullet-active {
      background: $blue-500;
    }
  }
}