$root-class: "section-preview";

.#{$root-class} {
  background: $black-500;
  color: $neutral-white;

  .preview-item {
    &:hover {
      background: $black-400;
    }
  }

  @include breakpoint(md) {
    .preview-item {
      border: 1px solid $black-400;
    }
  }
}