mixin sectionPreview(props = {})
  - const rootClassName = "section-preview";
  - const className = props.class || null;
  - const style = props.style || null;
  - const heading = props.heading || [];
  - const items = props.items || [];
  -
    const classes = [
      rootClassName,
      className,
      "py-96",
      "sm:py-32"
    ];

  section(
    class = classes 
    style = style
  )

    // Start: [container] 
    +container()

      // Start: [section-heading] 
      +sectionHeading({
        class: "mb-32",
        heading: heading, 
        color: "light"
      })

      // End: [section-heading]   

      +image({
        class: [
          `${rootClassName}__image`,
          "mb-32"
        ],
        src: "dashboard.webp",
        alt: "Dashboard preview"
      })

      // Start: [grid] 
      +grid()

        each item in items
          // Start: [column-4] 
          +column({
            class: [
              "column-4",
              "md:column-12"
            ]
          })
            // Start: [text-card/preview-item] 
            +textCard({
              class: [
                "preview-item",
                "px-24",
                "py-20",
                "mb-20"
              ],
              title: item.title,
              description: item.description,
              smOutline: true
            })
            // End: [text-card/preview-item] 
          // End: [column-4] 
      // End: [grid] 
    // End: [container] 