mixin sectionPreview(props = {})
  - const rootClassName = "section-preview";
  - const className = props.class || null;
  - const style = props.style || null;
  - const heading = props.heading || [];
  - const items = props.items || [];
  -
    const classes = [
      rootClassName,
      className,
      "py-96",
      "sm:py-32"
    ];

  // Start: [Section: preview] 
  section(
    class = classes 
    style = style
  )

    // Start: [Container] 
    +container()

      // Start: [Heading] 
      +sectionHeading({
        class: "mb-32",
        heading: heading, 
        color: "light"
      })

      // End: [Heading]   

      // Start: [Image] 
      +image({
        class: "mb-32",
        width: "100%",
        height: "auto",
        src: "dashboard.webp",
        alt: "Dashboard preview"
      })
      // End: [Image]

      // Start: [Grid] 
      +grid()

        each item in items
          // Start: [Column 4] 
          +column({class: ["column-4", "md:column-12"]})
            +stack({
              class: [
                "preview-item",
                "flex-direction-column", 
                "px-24",
                "py-16", 
                "mb-12"
              ]
            })
              +typography({
                class: "mb-8", 
                variant: "body-large", 
                weight: "medium"
              })
                | #{item.title}
              +typography({variant: "body-default"})
                | #{item.description}
          // End: [Column 4] 
      // End: [Grid] 
    // End: [Container] 
  // End: [Section: preview] 