$root-class: "logo";

.#{$root-class} {
  display: block;
  font-family: $font-family;
  font-size: 24px;
  font-weight: map-get($map: $font-weights, $key: semibold);
  line-height: 30px;
  letter-spacing: -0.5px;
  text-decoration: none;

  &\:variant-dark {
    color: $black-500;
  }

  &\:variant-light {
    color: $neutral-white;
  }
}