mixin sectionFeatures(props = {})
  - const rootClassName = "section-features";
  - const className = props.class || null;
  - const style = props.style || null;
  - const heading = props.heading || [];
  - const description = props.description || "";
  - const items = props.items || [];
  - const buttonLabel = props.buttonLabel || "";
  -
    const classes = [
      rootClassName,
      className,
      "py-96",
      "sm:py-32"
    ];

  section(
    class = classes 
    style = style
  )

    // Start: [container] 
    +container()

      // Start: [grid] 
      +grid({
        class: [
          "align-items-center",
          "justify-content-space-between"
        ]
      })

        // Start: [column-5] 
        +column({
          class: [
            "column-5",
            "md:display-none"
          ]
        })
          +image({
            class: `${rootClassName}__image`,
            src: "illustration-2.svg",
            alt: "Features section illustration"
          })
        // End: [column-5]

        // Start: [column-6] 
        +column({
          class: [
            "column-6",
            "md:column-12"
          ]
        })
          
          // Start: [section-heading] 
          +sectionHeading({
            class: "mb-24",
            heading: heading,
            description: description
          })
          // End: [section-heading] 

          // Start: [section-features__items] 
          div(
            class = [
              `${rootClassName}__items`,
              "mb-24"
            ]
          )
            each item in items
              // Start: [stack/feature-item] 
              +stack({
                class: [
                  "feature-item",
                  "align-items-center"
                ]
              })
                +icon({
                  class: [
                    "mr-12",
                    "feature-item__icon"
                  ], 
                  icon: "check"
                })
                +typography({variant: "body-default"})
                  | #{item}
              // End: [stack/feature-item] 
          // End: [section-features__items]

          // Start: [button] 
          +button({
            class: `${rootClassName}__button`,
            label: buttonLabel,
            variant: "primary-blue", 
            icon: "arrow-right",
            size: "md",
          })
          // End: [button] 
        // End: [column-6]
      // End: [grid] 
    // End: [container] 