$root-class: "section-features";

.#{$root-class} {
  &__items {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 16px;
  }

  .feature-item {
    &__icon {
      width: 16px;
      height: 16px;
    }
  }

  @include breakpoint(sm) {
    &__items {
      grid-template-columns: 1fr;
    }
  }
}