extends /templates/common.pug
include _blocks/blocks.pug

block vars
  - const content = require("@src/content/index.json");
  - const pageClass = "index-page";

block title
  title #{appData.name} – #{content.title}
  
block content

  // Start: [section-intro] 
  +sectionIntro({
    heading: content.sections.intro.heading,
    description: content.sections.intro.description,
    inputPlaceholder: content.sections.intro.inputPlaceholder,
    buttonLabel: content.sections.intro.buttonLabel,
    label: content.sections.intro.label,
    partners: content.sections.intro.partners
  })
  // End: [section-intro] 

  // Start: [section-analysis] 
  +sectionAnalytics({
    heading: content.sections.analytics.heading,
    items: content.sections.analytics.items
  })
  // End: [section-analysis] 

  // Start: [section-preview] 
  +sectionPreview({
    heading: content.sections.preview.heading,
    items: content.sections.preview.items
  })
  // End: [section-preview] 

  // Start: [section-analytics] 
  +sectionAnalysis({
    heading: content.sections.analysis.heading,
    description: content.sections.analysis.description,
    buttonLabel: content.sections.analysis.buttonLabel,
    items: content.sections.analysis.items
  })
  // End: [section-analytics] 

  // Start: [section-security] 
  +sectionSecurity({
    heading: content.sections.security.heading,
    items: content.sections.security.items
  })
  // End: [section-security] 

  // Start: [section-features] 
  +sectionFeatures({
    heading: content.sections.features.heading,
    description: content.sections.features.description,
    items: content.sections.features.items,
    buttonLabel: content.sections.features.buttonLabel
  })
  // End: [section-features] 

  // Start: [section-reviews] 
  +sectionReviews({
    heading: content.sections.reviews.heading,
    items: content.sections.reviews.items
  })
  // End: [section-reviews] 

  // Start: [section-trial] 
  +sectionTrial({
    heading: content.sections.trial.heading,
    description: content.sections.trial.description,
    inputPlaceholder: content.sections.trial.inputPlaceholder,
    buttonLabel: content.sections.trial.buttonLabel,
    items: content.sections.trial.items
  })
  // End: [section-trial] 