extends /templates/common.pug
include _blocks/blocks.pug

block vars
  - const content = require("@src/content/index.json");
  - const pageClass = "index-page";

block title
  title #{appData.name} – #{content.title}
  
block content

  +sectionIntro({
    heading: content.sections.intro.heading,
    description: content.sections.intro.description,
    inputPlaceholder: content.sections.intro.inputPlaceholder,
    buttonLabel: content.sections.intro.buttonLabel,
    label: content.sections.intro.label
  })

  +sectionAnalytics({
    heading: content.sections.analytics.heading,
    items: content.sections.analytics.items
  })

  +sectionPreview({
    heading: content.sections.preview.heading,
    items: content.sections.preview.items
  })