$root-class: "section-intro";

.#{$root-class} {
  &__form {
    gap: 16px;
  }

  &__text-field {
    width: 60%;
  }

  &__button {
    flex: 0 0 auto;
  }

  &__label {
    color: $black-200;
  }

  &__partners {
    gap: 20px;
    border-bottom: 1px solid $black-050;
  }

  @include breakpoint(lg) {
    &__illustration {
      height: 420px;
    }
  }

  @include breakpoint(sm) {
    &__text-field {
      width: 100%;
    }
  }
}