/*
* Fonts
*/

$font-family: "Inter";
$font-weights: (
  light: 300,
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700
);
$font-base-size: 16px;
$font-root-path: "../../assets/fonts";

/*
* Grid
*/

$grid-column-count: 12;
$grid-column-gap: 20px;

$container-width: (
  default: 1140px,
  xl: 960px,
  lg: 720px,
  md: 540px,
  sm: 100%,
);

$breakpoints: (
  xl: 1200px,
  lg: 990px,
  md: 770px,
  sm: 580px,
);

/*
* Colors
*/

$neutral-white: #FFFFFF;

$black-050: #E6E6E7;
$black-100: #B1B1B4;
$black-200: #8B8C90;
$black-300: #56575E;
$black-400: #35363E;
$black-500: #03040E;
$black-600: #03040D;
$black-700: #02030A;
$black-800: #020208;
$black-900: #010206;

$blue-050: #EDEFFC;
$blue-100: #C6CDF7;
$blue-200: #ABB5F3;
$blue-300: #8494EE;
$blue-400: #6D7FEA;
$blue-500: #485FE5;
$blue-600: #4256D0;
$blue-700: #3343A3;
$blue-800: #28347E;
$blue-900: #1E2860;

/*
* Spacing Directions
*/

$spacing-directions: (
  top,
  left,
  right,
  bottom
);

/*
* Text ALign
*/

$text-align-props: (
  left,
  center,
  right
);

/*
* Display
*/

$display-props: (
  block,
  inline-block,
  flex,
  inline-flex,
  none
);

/*
* Flex Direction
*/

$flex-direction-props: (
  "row",
  "column",
  "row-reverse",
  "column-reverse"
);

/*
* Justify Content
*/

$justify-content-props: (
  "flex-start",
  "flex-end",
  "center",
  "space-between",
  "space-around",
  "space-evenly"
);

/*
* Align Items
*/

$align-items-props: (
  "flex-start",
  "flex-end",
  "center",
  "baseline",
  "stretch"
);

/*
* Wrap
*/

$flex-wrap-props: (
  "nowrap",
  "wrap",
  "wrap-reverse"
);