$root-class: "section-analytics";

.#{$root-class} {
  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }

  @include breakpoint(sm) {
    &__items {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }
}