$root-class: "typography";

$heading-variants: (
  h1: (
    default: (font-size: 62px, line-height: 80px, letter-spacing: -4px)
  ),
  h3: (
    default: (font-size: 45px, line-height: 55px, letter-spacing: -1.6px)
  )
);

.#{$root-class} {
  display: block;

  /*
  * Weigths
  */

  @each $weight, $value in $font-weights {
    &\:weight-#{$weight} { font-weight: $value; }
  }

  /*
  * Headings
  */

  @each $heading, $breakpoints in $heading-variants {
    font-weight: map-get($map: $font-weights, $key: medium);

    &\:variant-#{$heading} {
      @each $breakpoint-name, $breakpoint-styles in $breakpoints {
        $current-breakpoint-style: map-get($map: $breakpoints, $key: $breakpoint-name);
        @if $breakpoint-name == default {
          @include each-styles($current-breakpoint-style);
        } @else {
          @include breakpoint($breakpoint-name) {
            @include each-styles($current-breakpoint-style);
          }
        }
      }
    }
  }

  /*
  * Body text
  */

  &\:variant-body-small {
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.5px;
  }

  &\:variant-body-default {
    font-size: $font-base-size;
    line-height: 25px;
    letter-spacing: -0.7px;
  }

  &\:variant-body-large {
    font-size: 21px;
    line-height: 30px;
    letter-spacing: -0.8px;
  }

  /*
  * Other
  */

  span {
    display: block;
    overflow: hidden;
  }
}